@inject JayElbourne.Views.Helpers.DateFormatHelper DateFormat
@model JayElbourne.Models.Project

<article class="project-details">
    <h1>@Model.Title</h1>
    <div class="details">
        Posted: <span>@DateFormat.AsReadableDate(@Model.Posted)</span>
        Status: <span>@Model.ProjectStatus</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</article>

